<h1 class="display-5 mb-4">Edição de perfil profissional</h1>

<%= render "shared/errors", resource: @professional_profile %>

<%= render 'form' %>

<div>
  <%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-1 mb-1" %>
</div>
