<% if resource.respond_to?(:errors) && resource.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <ul>
      <% resource.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
