<h1 class="display-4 mb-5"><%= t('messages.homepage') %></h1>
<%= tag.h1 t('messages.homepage'), class: %w[display-4 mb-5] %>

<p><%= t('messages.homepage_text') %></p>
<%= tag.p t('messages.homepage_text') %>
