<h1 class="display-3 mb-5">Justifique o cancelamento da proposta para o projeto <%= @project.title %></h1>

<%= render "form" %>

<div>
  <%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-1 mb-1" %>
</div>
